

 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
 }
 html {
   scroll-behavior: smooth;
 }


.navbar {
  /* background-color:darkblue;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px; */
  clear: both;
  position: fixed;
  display: inline-flex;
  justify-content:space-between;
  align-items:flex-start;
  width: 100%;
  height: 12%;
  background-color:#DEE7EC;
  z-index:1;
        
        

}
.nav-list  {
  list-style-type: none;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 22px;
  align-self: center;
  
}
.nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;

}

.navbar a{
  color:white;
  text-decoration: none;

}


.navbar a:hover {
  transition: color 0.75s;
  color:#BFB6BB;
  cursor: pointer;
}

.primary-icon {
  /* height: 30px; */
  width: 100%;
  height: auto;
  /* padding-left: 0%; */
  max-width:180px ;
  margin: 4%;
  float: left;
  /* margin-right: 50em; */
  position: relative;
  align-self: center;
}
.menu{
  display: none;
}
.menu-line{
  width: 30px;
  height: 3px;
  background-color: white;
  margin-bottom: 10px;
}

@media all and (max-width: 1025px){
  .navbar{
    flex-direction: column;
    position: relative;
  }
  .navbar .container-icon{
    width:100%;
  }
  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 27px;

  }

  .nav-list {
    list-style-type: none;
    width:100%;
    text-align:center;
    padding-top: 10px;
    display: none;
  }
  .nav-list .list-item{
    display: block;
    border-top: 1px solid white;
  }
  .primary-icon {
    margin-top: 10px;
    margin-left: 10px;
  }
  .active {
    display: block;
  }
  .chart {
    width: 100%;
    max-width: 450px;
    height: auto;

  }
}

@media all and (max-width: 400px){
  .chart{
    width: 100%;
    max-width: 200px;
    height: auto;
  }

}
/* .circle {
  width: 100%;
  height: auto;
  padding-left: 0%;
  max-width:180px ;
  margin: 2%;
  margin-right: 50em;

} */
body {
  background-color: whitesmoke;
}

.spacer
{
    width: 100%;
    height: 95px;
}


 /* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

 #navbar {
   clear: both;
        position: fixed;
        display: inline-flex;
        justify-content:space-evenly;
        align-items:flex-start;
        width: 100%;
        height: 100px;
        background-color:#CEE0F0;
        z-index: 1;
      }

#navbar ul{
        display: inline-flex;
        justify-content: space-between;
        list-style-type: none;
        padding-left:100px;
        margin-left:150px;
      }

      #navbar li{
       margin-right: 20px; 
      }
      
 #navbar ul {
        display: flex;
        align-self: center;
        font-family: "Roboto", Helvetica, sans-serif;
       
      }

      #navbar ul li {
        font-size: 23px;
      
      }
      #navbar ul li a {
        color: #FFFFFF;
        text-decoration: none;
      }

#navbar ul li a:hover{
  transition: color 0.75s;
  color:#bfb6bb;
  cursor: pointer;
}
 

.logo {
  width: 40%;
  align-self: auto;
}

body {
  background-color: whitesmoke;
}

.spacer
{
    width: 100%;
    height:1px;
}
  */

 /* page specific code starts here */
 
 .covidinfo{
   width:100%;
   max-width:70%;
   margin-left: 15%;
   margin-right: 15%;
   margin-top:5%;
 }
 .text{
   color:	#303030 ;
 }




 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: inline-flex;
  margin-left:1.3%;
  margin-right: 1.3%;
  /* justify-content: space-evenly; */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


/* Position the front and back side */
 .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
} 

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #FABF83;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:#FABF83;
  color: white;
  transform: rotateY(180deg);
}
.cardpad {
  padding: 1%;
  font-size: 12pt;
}

.covidinfo {
  font-family: didot, sans-serif;
}

.covidinfo h4 {
color: gray;
}

footer {
  width: 100%;
  height: 3%;
  background-color: #DEE7EC; 
  text-align: center;
  margin-top: 5%;
  font-family: "Roboto", Helvetica, sans-serif;
  position: relative;
  bottom:0px;
}



@media all and (max-width: 1025px) {

.flip-card {
  width: 30%;
  max-width: 900px;
  height: 330px;

}
.writing {
  font-size: 10pt;
  
}

.spikes {
  width: 100%;
  max-width: 400px;
}
}

.flippy {
  display: none;
}

@media all and (max-width:450px) {

.flip-card {
  width: 100%;
  max-width: 300px;
  height: 300px;
}

.writing {
  font-size: 10pt;
  
}
.flippy {
  background-color: transparent;
  color:black;
  padding: 12px 28px;
  /* margin-top:10%; */
  display: inline;
  
}

.spikes{

    width: 100%;
    max-width: 200px;
}
}

.getusppebutton {
  text-decoration-line: none;
  text-decoration-color: black;
  padding: 1%;
  border-radius: 4px;
  background-color: #DEE7EC;
  border-width: 2px;

 
  
}
.buttontextppe {
  text-decoration-line: none;
 color: black;

 
}